{%- comment -%}
  CART TEMPLATE

  Replicates: src/app/carrinho/page.jsx

  Features:
  - Cart items list with images, names, prices
  - Quantity selectors
  - Remove item button
  - Cart totals
  - "COMPRA 1 LLEVA 2" promotion display
  - Checkout button
  - Empty cart state

  Phase 10: To be implemented
{%- endcomment -%}

<div class="cart-template">
  <h1>{{ 'general.cart.title' | t }}</h1>

  {%- if cart.item_count > 0 -%}
    <form action="/cart" method="post">
      {%- for item in cart.items -%}
        {%- comment -%} Cart item {%- endcomment -%}
      {%- endfor -%}

      <button type="submit" name="checkout">{{ 'cart.general.checkout' | t }}</button>
    </form>
  {%- else -%}
    <p>{{ 'general.cart.empty' | t }}</p>
  {%- endif -%}
</div>
